@model List<BrandViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Marka numarası
            </th>
            <th>
                Marka ismi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var brand in Model) {
        <tr>
            <td>
                @brand.BrandId
            </td>
            <td>
                @brand.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
